/* CSS - FOOTER - MOBILE FIRST */

footer {
    margin-top: 10%;
    padding: 10px;
    background-color: #010506;
}

footer p {
    color: white;
    font-size: 8px;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.footer-div-cell {
    margin: 0 15px;
    padding: 10px;
    text-align: center;
}

.small-logo img {
    width: 120px;
    height: auto;
    margin-right: 10px;
}

.social-icons img {
    margin: 5px;
    width: 15px;
    height: 15px;
}


@media (min-width: 768px) {
    footer p {
        font-size: 12px;
    }
}