label {
    font-family: 'Didact Gothic', sans-serif;
}

input[type=text], select, textarea {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    color: rgb(163, 162, 162);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    outline: none;
  }

  /* I found the following Code here: https://codepen.io/vkjgr/pen/VYMeXp */
  select {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }
  
  select:focus {
    background-image:
      linear-gradient(45deg, #f08e5e 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, #f08e5e 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
  }
    
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
/* End of codepen code */



  input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    outline: none;
  }

  
  input[type=submit] {
    background-color: #f08e5e;;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  
  input[type=submit]:hover {
    background-color: #f0c4ae;
    outline: none;
  }
  
  .container {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
    margin: auto;
  }

  .btn-cont {
    width: 100%;
    height: auto;
    text-align: right;
    margin-bottom: 50px;
  }




/*** *** *** START PHOTO AREA *** *** ***/

#picarea {
  display: block;
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 250px;
  padding: 20px;
  text-align: center;
  margin: auto;

}

#picarea img {
  width: 200px;
  height: 200px;
  margin: 0 auto 30px;
  object-fit: cover;
}


.button-pic {
  background-color: #f08e5e;;
  color: white;
  padding: 4px 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.button-pic:hover {
  background-color: #f0c4ae;
  outline: none;
}

#input-id {
  display: none;
}

/*** *** *** END PHOTO AREA *** *** ***/



#confirmation {
  text-align: center;
  margin: 150px 40px 400px;
  font-size: 20px;
}


  @media (min-width: 768px) {
    .container {
        width: 700px;
      }
    }




@media (min-width: 1200px) {
    .container {
        margin: 0 120px;
    }
}



