label {
    font-family: 'Didact Gothic', sans-serif;
}



input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    outline: none;
  }

  input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    outline: none;
  }

  
  input[type=submit] {
    background-color: #f08e5e;;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  
  input[type=submit]:hover {
    background-color: #f0c4ae;
    outline: none;
  }
  
  .container {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
    margin: auto;
  }

  .btn-cont {
    width: 100%;
    height: auto;
    text-align: right;
    margin-bottom: 50px;
  }


/*** *** *** START PHOTO *** *** ***/

#picarea {
  display: block;
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 250px;
  padding: 20px;
  text-align: center;
  margin: auto;

}

#picarea img {
  width: 200px;
  height: 200px;
  margin: 0 auto 30px;
  object-fit: cover;
}



.button-pic {
  background-color: #f08e5e;;
  color: white;
  padding: 4px 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.button-pic:hover {
  background-color: #f0c4ae;
  outline: none;
}

#input-id {
  display: none;
}


/*** *** *** END PHOTO *** *** ***/






  @media (min-width: 768px) {
    .container {
        width: 700px;
      }
    }




@media (min-width: 1200px) {
    .container {
        margin: 0 120px;
    }
}



