ol li {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 24px;
    color: #f08e5e;
    margin: 10px 0;
}

#recipe-cont-head {
    display: block;
}

#editdelete {
    text-align: right;
}

#editdelete a {
    margin-right: 10px;
    padding: 10px;
    font-family: 'Cabin', sans-serif;
    font-size: 10px;
    color: #ffffff;
    text-decoration: none;
    background-color: #f59f74;
    border-radius: 45px;
}

#editdelete a:hover {
    font-size: 10px;
    background-color: #f08e5e;
    color: #ffffff;
}

#recipe-cont-head img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    padding-top: 50px;
}

#recipe-cont-head h6, h5, h4, h3, h2, h1 {
    margin: 50px 10px 20px;
}

#recipe-cont-head p {
    margin: 0 10px 10px;
}

#recipe-cont-body p {
    margin: 0 10px;
    padding: 10px;
}

#recipe-cont-body span {
    font-size: 16px;
    color: #141414;
}

.color1 {
    background-color: #fcf6f3;
}

.color2 {
    background: #FFFFFF;
}

#userrecipe {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: #F0641E;
    text-decoration: underline;
}

.rating-share {
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 10px 0px;
}

/* Font Awesome Icon Library */
.checked {
  color: orange;
}

.rating-share img {
    width: 25px !important;
    height: 25px !important;
    margin: 5px !important;
    padding: 0 !important;
}

.mayalsolike {
    display: block;
    margin: 40px 30px 70px;
}

.mayalsolike-singlecell {
    width: 280px;
    margin: 20px auto 60px;    
}

.mayalsolike img {
    width: 280px;
    height: 190px;
    object-fit: cover;
}

.mayalsolike-title {
    font-size: 18px;
}



@media (min-width: 576px) {
    .mayalsolike {
        display: flex;
        flex-wrap: wrap;
    }
}



@media (min-width: 992px) {
    #recipe-cont-head {
        margin: 10px 0;
        padding: 0 30px;
        display: flex;
        justify-content: flex-start;
        box-shadow: 1px 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #recipe-cont-head > div {
        padding: 0 20px;
        width: 40%;
    }

    #recipe-cont-head img {
        width: 100%;
    }

    #pic-square {
        display: block;
    }

    .rating-share {
        display: flex;
    }
}



@media (min-width: 1200px) {
    .mayalsolike {
        width: 1200px;
    }

    .mayalsolike-singlecell {
        width: 320px;
        margin: 20px;
    }
    
    .mayalsolike img {
        width: 280px;
        height: 180px;
        object-fit: cover;
    }
}