<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&family=Source+Sans+Pro:wght@600&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Cookbook</title>
</head>

<body>

  <!-- HEADER START -->
  <header id="header">
    <a href="{{ url_for('index') }}">
      <img src="/static/images/cookbook.png" id="header-logo" alt="Cookbook Logo" />
    </a>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('pasta') }}">Pasta</a></li>
        <li><a href="{{ url_for('meatandfish') }}">Meat&Fish</a></li>
        <li><a href="{{ url_for('vegetarian') }}">Vegetarian</a></li>
        <li><a href="{{ url_for('dessert') }}">Dessert</a></li>
        <li><a href="{{ url_for('baking') }}">Baking</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
      </ul>
    </nav>
    <div id="username-div">
      <img src="/static/images/user.png" id="user-icon" alt="UserMenu" />
      <a href="">Renato</a>
    </div>



    <!-- BURGER MENU START -->
    <div id="myLinks">
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('pasta') }}">Pasta</a>
      <a href="{{ url_for('meatandfish') }}">Meat&Fish</a>
      <a href="{{ url_for('vegetarian') }}">Vegetarian</a>
      <a href="{{ url_for('dessert') }}">Dessert</a>
      <a href="{{ url_for('baking') }}">Baking</a>
      <a href="{{ url_for('contact') }}">Contact</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="burgerMenu()">
      <span class="burger">
        <hr>
        <hr>
        <hr>
      </span>
    </a>


    <script>
      function burgerMenu() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
    </script>
    <!-- BURGER MENU END -->

  </header>
  <!-- HEADER END -->

  {% block content %}
  {% endblock %}



  <!-- FOOTER START -->
  <footer>
    <div id="footer-container">

      <div class="footer-div-cell">
        <div class="small-logo">
          <img src="/static/images/cookbook.png" alt="Logo">
          <div class="social-icons">
            <img src="/static/images/facebook.png" alt="Facebook">
            <img src="/static/images/instagram.png" alt="Instagram">
            <img src="/static/images/pinterest.png" alt="Pinterest">
            <img src="/static/images/twitter.png" alt="Twitter">
          </div>
        </div>
      </div>

      <div class="footer-div-cell">
        <p>Cookbook is my personal blog</p>
        <p>Renato Bianco © Milestone 3</p>
        <p>Code Institute Student</p>
      </div>
    </div>
  </footer>
  <!-- FOOTER END -->

</body>

</html>