{% extends 'base.html' %}
{% block content %}

  <!-- THIS CONTACT PAGE USES EMAILJS -->

<main class="bg-color-white">

  <section>
    <header id="intro-header">
      <h1>Contact Me</h1>
      <p>If you would like to contact me with a query, comment or suggestion, please use the following form, I will
        answer as soon as possible. Thank you.</p>
    </header>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.1/dist/email.min.js"></script>
    <script type="text/javascript">
        (function(){
           emailjs.init('user_FJR1sX3XachpsqYPlZmbB');
        })();
    </script>
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById('contact-form').addEventListener('submit', function(event) {
                event.preventDefault();
                // generate the contact number value
                this.contact_number.value = Math.random() * 100000 | 0;
                emailjs.sendForm('contact_service', 'contact_form', this)
                .then(function(response) {
                   window.location.href = "{{ url_for('sent') }}";
                }, function(error) {
                   alert('Sorry there was a problem. Please try again.');
                });
            });
        }
    </script>

    <div class="container">
      <form id="contact-form">
        <input type="hidden" name="contact_number">

        <label for="fname">Your Name</label>
        <input type="text" id="fname" name="user_name" placeholder="Your name">

        <label for="email">Your Email</label>
        <input type="email" id="email" name="user_email" placeholder="Your email" required>

        <label for="subject">Message</label>
        <textarea id="subject" name="message" placeholder="Your message" style="height:200px"></textarea>

        <input type="submit" value="Send">
      </form>
    </div>

  </section>

</main>

{% endblock %}