{% extends 'base.html' %}
{% block content %}

<main class="bg-color-white">

  <section>
    <!-- SECTION MEAT & FISH CONTAINER START -->

    <header id="intro-header">
      <h1>Contact Me</h1>
      <p>If you would like to contact me with a query, comment or suggestion, please use the following form, I will
        answer as soon as possible. Thank you.</p>
    </header>



    <div class="container">
      <form action="/action_page.php">
        <label for="fname">Your Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name">

        <label for="email">Your Email</label>
        <input type="email" id="email" name="email" placeholder="Your email" required>

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Your message" style="height:200px"></textarea>

        <input type="submit" value="Submit">
      </form>
    </div>




  </section> <!-- SECTION MEAT & FISH CONTAINER END -->

</main>

{% endblock %}