{% extends 'base.html' %}
{% block content %}

  <main>

    <article>
      <header class="main-pic">
        <!-- <img id="pic-intro" src="/static/images/food.jpg" alt="Food" /> -->
          <div id="pic-square">
            <h1>Spring Vegetable Cous Cous</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat id aperiam fuga blanditiis natus. Mollitia pariatur, alias magni tempora eius assumenda iste quia dicta velit dolor, ab tenetur, vitae voluptatem?</p>
            
            <p class="gold-text">Read More</p>
          </div>

        <!-- <h2>Article heading - HOME</h2> -->
      </header>
      <section>
        <h3> Section heading</h3>
        <p>Stuff in here</p>
      </section>

      <section>
        <h3> Section heading</h3>
        <p>Other stuff in here</p>
      </section>

    </article>

    <aside>
      <section>
        <h4> Section heading</h4>
        <p>Aside stuff in here</p>
      </section>

      <section>
        <h4> Section heading</h4>
        <p>More aside stuff in here</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo aperiam molestias doloremque quidem placeat at, quam dolor, delectus praesentium rerum mollitia officiis quisquam. Facere illum dicta dolorum minus culpa!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo aperiam molestias doloremque quidem placeat at, quam dolor, delectus praesentium rerum mollitia officiis quisquam. Facere illum dicta dolorum minus culpa!</p>
        
      </section>
    </aside>
  </main>

  {% endblock %}