{% extends 'base.html' %}
{% block content %}

<main class="bg-color-white">

    <section id="section-recipe">
        <!-- SECTION MEAT & FISH CONTAINER START -->



        <div>
            <div id="recipe-cont-head">
                <div>
                    <h1>{{recipe.title}}</h1>
                    <div id="editdelete">
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">EDIT</a>
                        <a href="javascript:del()">DELETE</a>
                      <!--  <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">DELETE</a> -->
                    </div>
                    <p>Author: <span id="userrecipe">Renato</span></p>  <!-- I added author ID in MongoDB, but since this blog is an example, I will use my name in HTML -->
                    <p>Category: {{recipe.category_name}}</p>
                    <p>Prep time: {{recipe.ptime}}</p>
                    <p>Cooking time: {{recipe.ctime}}</p>
                    <p>Serves: {{recipe.serves}}</p>
                    <p>Skill level: {{recipe.slevel}}</p>
                    
                    <p>Submitted: {{recipe.posted}}</p>
                      
                    <div class="rating-share">
                        <div>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star-half-o checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <br />
                        <div>
                            <img src="/static/images/facebook.png" alt="Facebook">
                            <img src="/static/images/instagram.png" alt="Instagram">
                            <img src="/static/images/pinterest.png" alt="Pinterest">
                            <img src="/static/images/twitter.png" alt="Twitter">
                        </div>
                    </div>
                </div>
                <div>
                    <img id="headimage" src="{{ url_for('static', filename='images/')}}{{recipe.imgfullname}}"  alt="recipe_picture" />
                </div>
            </div>
            <div id="recipe-cont-body">
                <div>
                    <h1>Ingredients:</h1>

                    {% set lines = recipe.ingredients.splitlines() %}
                    {% set mylist = lines|length %}
                    {% for i in range(mylist) %}
                        {% if (i % 2 == 0) %}
                            <p class="color1">{{lines[i]}}</p>
                        {% else %}
                            <p class="color2">{{lines[i]}}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div>
                    <h1>Method:</h1>
                    <ol>
                        {% set mlines = recipe.method.splitlines() %}
                        {% set mmylist = mlines|length %}
                        {% for mi in range(mmylist) %}
                            {% if lines[mi] == '' %}
                                {% set mi = mi -1 %}
                            {% else %}
                                <li><span>{{mlines[mi]}}</span></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            </div>

            <h1>You may also like</h1>
            <div class="mayalsolike"> <!-- you may also like -->

                <div class="mayalsolike-singlecell">
                    <img src="/static/images/images/3.jpg" alt="recipe-image" />
                    <p class="mayalsolike-title">Chicken & chorizo jambalaya</p>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-o checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>

                <div class="mayalsolike-singlecell">
                    <img src="/static/images/images/4.jpg" alt="recipe-image" />
                    <p class="mayalsolike-title">Summer-in-winter chicken</p>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-o checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>

                <div class="mayalsolike-singlecell">
                    <img src="/static/images/images/5.jpg" alt="recipe-image" />
                    <p class="mayalsolike-title">Spiced carrot & lentil soup</p>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-o checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>

                <div class="mayalsolike-singlecell">
                    <img src="/static/images/images/6.jpg" alt="recipe-image" />
                    <p class="mayalsolike-title">Spicy root & lentil casserole</p>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-o checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>

                <div class="mayalsolike-singlecell">
                    <img src="/static/images/images/7.jpg" alt="recipe-image" />
                    <p class="mayalsolike-title">Best ever chocolate brownies recipe</p>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-o checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>

                <div class="mayalsolike-singlecell">
                    <img src="/static/images/images/8.jpg" alt="recipe-image" />
                    <p class="mayalsolike-title">Carrot cake</p>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-o checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>

            </div>


        </div>

    </section> <!-- SECTION MEAT & FISH CONTAINER END -->

</main>

<script>
function del() {
  var choice = prompt(" The deletion is irreversible, please write yes to proceed:");
  if (choice == "yes") window.location.href = "{{ url_for('delete_recipe', recipe_id=recipe._id) }}";
} 
</script>

{% endblock %}